header{
        
    display: flex; 
    text-align: center;
    justify-content: space-around; 
    align-items: center; 
    padding: 10px 20px;
    background-color:rgb(121, 120, 126);
    color: rgba(0, 0, 0, 0.968);
}

.headerclass{
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    height:120px;
    width:150px;
    
}

nav ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
     }

nav ul li {
    margin: 0 100px; 
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none; 
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline; 
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
}

                                                                        
.social {
    display: flex; /* Place icons side by side */
    gap: 10px; /* Space between icons */
}

.social img {
    width: 20px;
    height: 20px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(91, 36, 192);
    color: aliceblue;
}
p{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}
h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h4{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.sectionhome {
            
    padding: 20px;
    max-width: 1000px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.red1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    object-fit:cover;

}

.red1img{ 
    width: 32.9%;
    height: 100px;
}
.red2 img{ 
    width: 40%;
    height: 300px;
}
.banner{
    width: 100%;
    display: flex;
    grid-template-columns: 1fr;
}

.product-grid {
                display:grid;
                grid-template-columns: repeat(3, 1fr);
                gap:40px;
                width: 90%;
                max-width: 1000px;
                margin: 10px auto;
             }

             .productcard{
                width: 100%;
                height: 400px;
                background-color: #24e9e9;
                border-radius: 20px;
                overflow:hidden;
                display: flex;
                flex-direction:column;
                box-shadow: 0 2px 4px #cf161600;

             }

             .produce-image{
                width: 100%;
                height: 80%;
             }
             .produce-image img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
             }

             .produce-details{
                height: 20%;
                padding: 10px 15px;
                display:flex;
                justify-content: space-between;
                background-color: #000000;
                align-items: center;

             }
             
             .produce-title{
                font-size:1em ;
                font-weight:bold ;
                flex-shrink:2 ;
            
             }
             .produce-footer{

                display:flex;
                align-items:center;
                background-color: #0bf117;
                gap:10px;
                flex-shrink: 0;
             }
             .product-price{
                font-size: 1.1em;
                font-weight: bold;
                background-color: #13f10b;
             }

            .buy-now{
                background-color: #0dd4c4;
                border: none;
                border-radius: 20px;
                overflow:hidden;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;
                box-shadow: 0 2px 4px rgba(0,0,0,0.3);
                white-space: nowrap;
            }
            .buy-now:hover{
                background-color:#e98e18;
                box-shadow:0 4px 8px rgba(0,0,0,0.3)
            }

            footer {
    
    text-align: center;
    padding: 15px;
    background-color: #1f4e79;
    color: white;
     margin-top: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* gives vertical center */
  padding: 50px 90px;   /* Space inside hero section */
  gap: 20px;
  background-color: #4f0a8f;
}


/* Hero text container */
.hero-text {
  flex: 2fr; /* Allows text section to grow evenly */
}

/* Main heading inside hero */
.hero-text h1 {
  font-size: 50px;
  margin-bottom: 5px;
  text-align: center;
}

/* Paragraph inside hero */
.hero-text p {
  font-size: 18px;
  margin-bottom: 25px;   /* Space below paragraph */
  line-height: 1.6;   /* Increases spacing between lines */
  text-align: center;
}

/* Hero image container */
.hero-image {
  display: flex;
}

/* Hero image styling */
.hero-image img {
  width: 100%;
  border-radius: 10px;
}